<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>动态列表news-list</title>
		<link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
<!-- 导航 -->
<div class="my-nav-wrap">
	<div class="my-nav">
		<div class="my-nav-logo">
			<a href="index.html">
				<img class='center-block img-responsive' src="../../imgs/logo_nav.png" alt="青海师范" />
			</a>
		</div>
		<div class="my-nav-menu">
			<ul class="my-nav-tabs">
				<li><a href="index.html" >首页</a></li>
				<li><a href="news_detail.html">学校简介</a></li>
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						综合实践教学平台<span class="caret"></span>
					</a>
					<ul class="dropdown-menu animated fadeInUp">
						<li><a href="platform_cloudtool.html">开放式云工具</a></li>
						<li><a href="platform_hdyy.html">融媒体互动运营</a></li>
					</ul>
				</li>
				<li><a href="e_class.html">在线学习</a></li>			
			</ul>
		</div>
		<form class="my-nav-form" role="search">
			<span class='glyphicon glyphicon-search'></span>
		  <div class="form-div">
		    <input type="text" class="form-control" placeholder="搜索课程">
		  </div>
		</form>
	</div>
</div><!-- 导航 end-->
<!-- 主体 -->
<div class="my-container-fluid my-news-list">
	<!--面包屑-->
	<div class='my-container'>
		<ol class="my-breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li>校园动态</li>
		</ol>
	</div><!--面包屑end-->
	<!-- 内容区 -->
	<div class="my-container">
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="news_detail.html">我院2015年“种子7计划”大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="news_detail.html" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="news_detail.html">我院2015年“种子7计划”大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="news_detail.html" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="news_detail.html">我院2015年“种子7计划”大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="news_detail.html" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="news_detail.html">我院2015年“种子7计划”大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="news_detail.html" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="news_detail.html">我院2015年“种子7计划”大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="news_detail.html" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="news_detail.html">我院2015年“种子7计划”大学创业大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		<!-- 1 loop starts -->
		<div class="list-item">
			<div class='item-box'>
				<div class='item-thumb'>
					<img src="../../imgs/news_list_sample.png" class='img-responsive center-block' alt="">
				</div>
				<div class='item-brief'>
					<h3 class='item-brief-title'>
						<a href="">我院2015年“种子7计划”大学创业</a>
					</h3>
					<p class='item-brief-para'>对教学资源进行一站式信息化管理；对实验设备的入库、借用、归还，以及与课程、实验室的关联进行统一的调度管理。</p>
					<p class='item-brief-date'>日期：2017-03-30  10:24:15</p>
					<a href="" class='to-detail'>查看详情</a>
				</div>
			</div>
		</div><!-- 1 loop end-->
		
	</div><!-- 内容区 end -->
</div> <!-- 主体end -->
<!-- footer -->
<div class="my-container-fluid my-footer">
	<div class="my-container">
		<div>青海师范大学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新校区：青海省西宁市城北区海湖大道          邮编：810000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：0971-6302007&nbsp;&nbsp;&nbsp;&nbsp;0971-6304591</div>
	</div>
</div>
<script src="../../lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../dist/js/news_list.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
	</body>
</html>
