<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>校园动态news-detail</title>
		<link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
<!-- 导航 -->
<div class="my-nav-wrap">
	<div class="my-nav">
		<div class="my-nav-logo">
			<a href="index.html">
				<img class='center-block img-responsive' src="../../imgs/logo_nav.png" alt="青海师范" />
			</a>
		</div>
		<div class="my-nav-menu">
			<ul class="my-nav-tabs">
				<li><a href="index.html" >首页</a></li>
				<li><a href="news_detail.html">学校简介</a></li>
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						综合实践教学平台<span class="caret"></span>
					</a>
					<ul class="dropdown-menu animated fadeInUp">
						<li><a href="platform_cloudtool.html">开放式云工具</a></li>
						<li><a href="platform_hdyy.html">融媒体互动运营</a></li>
					</ul>
				</li>
				<li><a href="e_class.html">在线学习</a></li>			
			</ul>
		</div>
		<form class="my-nav-form" role="search">
			<span class='glyphicon glyphicon-search'></span>
		  <div class="form-div">
		    <input type="text" class="form-control" placeholder="搜索课程">
		  </div>
		</form>
	</div>
</div><!-- 导航 end-->
<!-- 主体 -->
<div class="my-container-fluid my-news-detail pb-50">
	<!--面包屑-->
	<div class='my-container'>
		<ol class="my-breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li><a href="news_list.html">校园动态</a></li>
			<li>新闻简介</li>
		</ol>
	</div><!--面包屑end-->
	<!-- 内容区 -->
	<div class='my-container bg-fff mb-50'>
		<div class="news-box">
			<div class='news-title-box'>
				<h2 class='news-title'>学校简介</h2>
				<p class='news-date'>日期：2017-03-30  10:24:15</p>
			</div>
			<div class='news-text'>
				<p>青海师范大学建于1956年。学校已形成具有本科教育、研究生教育、留学生教育、成人教育和职业教育的完备教育体系，学科专业覆盖哲学、经济学、法学、教育学、文学、历史学、理学、工学、管理学、艺术学等10大门类，已成为文理工多学科协调发展，具有教师教育、高原地域和民族特色的省属重点大学。学校是博士学位授予单位、国家级藏汉双语人才培养培训基地，全国培养高水平运动员试点院校、国家社会体育指导员培训基地、全国汉语言水平测试（HSK）主考单位、教育部“长江学者和创新团队计划”入选单位、中国教育和科研计算机网络青海省主节点院校、CALIS青海省文献信息服务中心,全国50所毕业生就业典型经验高校之一，具有推荐优秀应届本科毕业生免试攻读硕士学位研究生资格。</p>
				<div class='img-box'>
					<img class='img-responsive center-block' src="../../imgs/img_news.png" alt="">
				</div>
				<p>学校设成人教育学院（职业学院）、民族师范学院2个副厅级建制二级学院,共设17个学院。建有青海省丝绸之路经济带研究院、盐湖学院、班禅研究院、青藏高原文化研究所、青藏高原资源与环境研究所、教师教育理论与实践研究所、藏文信息研究中心等24个研究机构（智库）和3所附属中学。</p>
				<p>现有3个一级学科博士学位授权点，12个二级学科博士学位授权点，11个一级学科硕士学位授权点，65个二级学科硕士学位授权点，5个专业硕士学位授权点。有62个本科专业，其中4个国家级特色专业，3个省级特色专业，12个省级重点学科，1个省级重点建设学科，1门国家级精品课程，23门省级精品课程。有17个国家级、省级重点实验室，其中1个教育部重点实验室，1个省部共建实验室，1个国家级实验教学示范中心，10个省级重点实验室，1个省级重点建设实验室，3个省级实验教学示范中心。建有3个省级人文社会科学重点研究基地。</p>

			</div>
		</div>
	</div>
	<!-- 内容区 end -->
</div> <!-- 主体end -->
<!-- footer -->
<div class="my-container-fluid my-footer">
	<div class="my-container">
		<div>青海师范大学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新校区：青海省西宁市城北区海湖大道          邮编：810000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：0971-6302007&nbsp;&nbsp;&nbsp;&nbsp;0971-6304591</div>
	</div>
</div>
<script src="../../lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../dist/js/news_detail.js" type="text/javascript" charset="utf-8"></script>	
<script src="../../lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
	</body>
</html>
